<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head%>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="car-body">
                <h1><span class="fa fa-lock"></span>Login or register </h1>
                <a class="btn btn-light"href="/login">
                    <span class="fa fa-user"></span> Local login
                </a>
                <a class="btn btn-light"href="/login">
                    <span class="fa fa-user"></span> Local sign up
                </a>
            </div>
        </div>
    </div>
</body>
</html>